<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Celebrity</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="../js/jquery-3.6.0.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Celebrity</h2>
  <p></p>                                                                                      
  <div class="table-responsive">          
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Born</th>
        <th>City</th>
        <th>Movie</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="data : ${celebrity}">
        <td th:text="${data.name}"></td>
        <td th:text="${data.born}"></td>
        <td th:text="${data.city}"></td>
        <td th:text="${data.movie}"></td>
      </tr>
    </tbody>
  </table>
  <script type="text/javascript">
		$(document).ready(function() {

			$.ajax({
				url : '/celebrity/list',
				type : 'get',
				dataType : 'html'
			})

			/* 	$('#form-cari').on('submit', function() {
			 $.ajax({
			 url : '/learn/jquery/search',
			 type : 'post',
			 data : $(this).serialize(),
			 dataType : 'html'
			 })
			 }); */

		});
	</script>
  </div>
</div>

</body>
</html>
