<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
	<title>Login</title>
	<style>
	.title {
		padding: 20px;
		text-align: center;
		font-family: sans-serif;
	}
	.submittext{
		padding: 5px;
		text-align: center;
		font-family: sans-serif;
	}
	.center {
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
	#container {
		text-align: center;
	}
	</style>
	<script src="../js/jquery-3.6.0.min.js"></script> 
</head>
<body>

<div >
<p id="target" class='title'>Login</p>
<table class="center">
	<tr>
		<td class='submittext'>Username: </td>
		<td><input type="text" name="username" /></td>
	</tr>
	<tr>
		<td class='submittext'>Password : </td>
		<td><input type="text" name="password" /></td>	
	</tr>
	<tr>
		<td></td>
		<td><button type="submit" class='center'>Login</button></td>
	</tr>
</table>
</div>

<script type="text/javascript">
	$('#beri').click(function(){
		$('#target').addClass('warna')
	})
	$('#hapus').click(function(){
		$('#target').removeClass('warna')
	})
</script>
</body>
</html>